.Parent {
    width: 100%;
    min-height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .HeroThree {
    width: 90%;
    height: 80vh;
    /* background-color: black; */
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  
  .AboutText3 {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  
  .Txt {
    width: 100%;
    height: 80%;
    font-size: 19px;
    word-spacing: 5px;
    line-height: 28px;
  }
  
  .Txt a {
    text-decoration: none;
    color: rgb(255, 196, 0);
  }
  
  .About3pics {
    width: 50%;
    height: 90%;
    background-color: #fff;
    border-radius: 50px 0px;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 0px 0px;
      border-radius: 50px 0px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .Parent {
      min-height: auto;
      padding-top: 10%;
      padding-bottom: 10%;
    }
  
    .HeroThree {
      flex-direction: column;
      gap: 40px;
      height: auto;
    }
  
    .AboutText3,
    .About3pics {
      width: 100%;
      height: auto;
    }
  
    .About3pics {
      height: 250px; 
      border-radius: 50px 0px;
    }
  }
  