.MainContainer {
    width: 100%;
    height: 100vh;
    /* background-color: #fff; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  
    & .Hero {
      width: 95%;
      height: 80%;
      /* background-color: #000; */
      display: flex;
      gap: 20px;
  
      & .text {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
  
        & .upperText {
          width: 100%;
          height: 35%;
          /* background-color: black; */
          display: flex;
          align-items: flex-end;
        }
  
        & .lowerText {
          width: 100%;
          height: 50%;
          /* background-color: black; */
          display: flex;
          flex-direction: column;
          font-size: 19px;
          word-spacing: 5px;
          line-height: 28px;
  
          & .btn {
            width: 130px;
            height: 40px;
            border: none;
            outline: none;
            background-color: orange;
            color: rgb(4, 12, 46);
            border-radius: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2px;
            font-size: 13px;
            font-weight: 600;
          }
  
          & .btn:hover {
            background-color: rgb(4, 12, 46);
            border: 1px solid white;
            color: orange;
            transform: scale(1.1);
            box-shadow: rgba(189, 188, 188, 0.35) 0px 5px 15px;
          }
  
          & a {
            text-decoration: none;
            color: orange;
          }
        }
      }
  
      & .picture {
        width: 50%;
        height: 90%;
        background-color: #fff;
      }
    }
  }
  
  /* Mobile Responsiveness */
  @media (max-width: 768px) {
    .MainContainer {
      align-items: center; /* Allow Hero to take full width */
      justify-content: flex-end; /* Align items from the top */
  
      & .Hero {
        flex-direction: column-reverse; /* Picture on top, text below */
        height: 80%;
        align-items: center;
        gap: 10px;
        padding-bottom: 50px;


        & .picture {
          width: 100%;
          height: 50vh; /* Adjust height based on image aspect ratio */
        }
  
        & .text {
          width: 100%;
          height: auto;
  
          & .lowerText {
            font-size: 16px; /* Adjust font size for smaller screens */
            line-height: 24px; 
            gap: 10px;


            & .btn {
              width: 150px;
              height: 50px;
              padding: 10px 0px 10px 0px;
            }
          }
        }
      }
    }
  }

