/* Global reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  background-color: rgb(1, 1, 26);
  /* background-color: rgb(65, 105, 225); */
  color: white;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: relative;
  padding: 20px;
}

a {
  color: rgb(255, 196, 0);
}

@media (max-width: 768px) {
  .App {
    font-size: 18px; 
    padding: 10px; 
    gap: 15px;
  }
}

@media (max-width: 1024px) {
  .App {
    font-size: 19px; 
    padding: 15px;
  }
}

@media (max-width: 480px) {
  .App {
    font-size: 16px; 
    gap: 10px; 
  }

  .App h1 {
    font-size: 24px;
  }

  .App button, .App img {
    width: 100%;
  }
}
